{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="Custom Customer Relationship Management for zachara.info"/>
    <meta name="author" content="Baumgart Software"/>

    <title>{% block title %}{% endblock %}</title>

    <!-- Specific Page CSS goes HERE  -->

    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/icons.css' %}" rel="stylesheet"/>

</head>
<body>

<div class="main">
    <nav class="main-sidebar close">
        <header>
            <div class="image-text">
            <span class="image">
                <img src="#" alt="">
            </span>
                <div class="text logo-text">
                    <span class="name-logo">Zachara</span>
                    <span class="desc-logo">Web developer</span>
                </div>
            </div>
            <i class="bx bx-chevron-right toggle"></i>
        </header>
        <div class="menu-bar">
            <div class="menu">
                <li class="search-box">
                    <i class="bx bx-search icon"></i>
                    <label>
                        <input type="text" placeholder="Search...">
                    </label>
                </li>
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#">
                            <i class="bx bxs-dashboard icon"></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class="bx bx-task-x icon"></i>
                            <span class="text nav-text">My Tasks</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class="bx bx-male-female icon"></i>
                            <span class="text nav-text">Customers</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class="bx bxs-school icon"></i>
                            <span class="text nav-text">Companies</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class="bx bx-task icon"></i>
                            <span class="text nav-text">Tasks</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class="bx bx-euro icon"></i>
                            <span class="text nav-text">Invoices</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="bottom-content">
                <li class="">
                    <a href="#">
                        <i class='bx bx-cog icon'></i>
                        <span class="text nav-text">Settings</span>
                    </a>
                </li>
                <li class="">
                    <a href="#">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>
            </div>
        </div>
    </nav>

    <div class="main-content close">
        <div class="header-main-content">
            <ul>
                <li>
                    <button class="buttons menu-links">Add Customer</button>
                </li>
                <li>
                    <button class="buttons menu-links">Add Task</button>
                </li>
            </ul>
            <a class="user-info">
                <img src="{{ user.profile.photo.url }}" class="user-pic" alt="User Profile Image">

                <div class="user-info-txt">

                        <div class="notification">
                            <a href="" role="button">{{ request.user.username }} <i class='bx bx-bell bx-tada notification-icon'></i></a>
                        </div>

                    <small>{{ request.user.get_full_name }}</small>
                </div>
            </a>
        </div>
        <div class="main-content-body">
            {% block main-content-body %}
            {% endblock %}
        </div>

        <footer>
            <div class="copyright">
                <p>Designed <span class="heart"></span> <a href="#">Baumgart Software</a> {% now 'Y' %}</p>
            </div>
        </footer>
    </div>
</div>


{% block content %}
{% endblock %}


<script src="{% static 'js/script.js' %}"></script>

</body>


</html>
