{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="Custom Customer Relationship Management for zachara.info"/>
    <meta name="author" content="Baumgart Software"/>

    <title>Zachara Info</title>

    <!-- Specific Page CSS goes HERE  -->

    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>

</head>
<body>
{% block body %}
{% endblock %}
</body>



</html>
