@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --body-bg-color: #ecf0f3;
    --buttons-bg-color: #00c4f6;
    --buttons-color: #fff;
    --sidebar-color: #ecf0f3;
    --text-color: #1e1e1e;
    --text-gray-color: #8f8e8e;
    --text-alerts-color: #f32601;
    --text-title-color: #fc5130;


    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
}

/*------------------------
    core definition
  -------------------------*/
body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-weight: 600;
    display: flex;
    background: var(--body-bg-color);
    color: #555;
    align-items: center;
    justify-content: center;
    transition: var(--tran-05);
}

.main {
    display: flex;
    opacity: 1;
    transition: all 0.25s ease-in;
    overflow: hidden;
    position: relative;
}

.login-div {
    width: 380px;
    height: 629px;
    box-shadow: 10px 10px 20px #cbced1,
    -10px -10px 20px #ffffff;
    padding: 50px 35px 35px 35px;
    border-radius: 40px;
}

.logo {
    background: url("../icons/login-logo.png");
    width: 100px;
    height: 100px;
    background-size: cover;
    margin: 0 auto;
    box-shadow: 0 0 2px #5f5f5f,
    0 0 5px #ecf0f3,
    8px 8px 15px #a7aaaf,
    -8px -8px 15px #ffffff;
    border-radius: 50%;
}

.title {
    text-align: center;
    font-size: 28px;
    color: var(--text-title-color);
    text-shadow: 8px 8px 15px #a7aaaf,
    -8px -8px 15px #ffffff;
    padding-top: 24px;
}

.auth-msg {
    display: flex;
    justify-content: center;
}

.login-span-info {
    font-size: 14px;
    color: var(--text-gray-color);
    text-shadow: 8px 8px 15px #a7aaaf,
    -8px -8px 15px #ffffff;
    padding-top: 24px;
}

.login-span-error {
    font-size: 14px;
    color: var(--text-alerts-color);
    text-shadow: 8px 8px 15px #a7aaaf,
    -8px -8px 15px #ffffff;
    padding-top: 24px;
}

.login-in {
    width: 100%;
    padding: 60px 5px 5px 5px;
}

.login-in input,
.search-box input {
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    background: none;
    font-size: 18px;
    color: #555;
    padding: 10px 10px 18px 1px;
}


.login-in input:-webkit-autofill,
.login-in input:-webkit-autofill:hover,
.login-in input:-webkit-autofill:focus,
.login-in input:-webkit-autofill:active {
    transition: background-color 5000000s ease-in-out 0s;
}


.username,
.password {
    box-shadow: inset 5px 5px 8px #cbced1,
    inset -5px -5px 8px #ffffff;
    border-radius: 50px;
    margin-bottom: 30px;
}

.username::placeholder,
.password::placeholder {
    color: #999;
    font-family: 'Poppins', sans-serif;

}

.login-in .lni {
    height: 22px;
    color: #999;
    margin: 0 10px -3px 25px;
    font-size: 18px;
}

.buttons {
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background: var(--buttons-bg-color);
    height: 60px;
    border-radius: 30px;
    color: var(--buttons-color);
    font-weight: 700;
    font-size: 18px;
    box-shadow: 5px 5px 8px #b1b1b1,
    -5px -5px 8px #ffffff;
}

.buttons:hover {
    background: #000;
}

.buttons:active {
    background: var(--buttons-bg-color);
}

a {
    text-decoration: none;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.link {
    padding: 20px;
    text-align: center;
}

.link a {
    color: #aaa;
    font-size: 15px;
    font-weight: 600;
}

.link a:hover {
    color: #000;
}

/*------------------------
    modal definition
  -------------------------*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1055;
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
}

/*.modal.fade .modal-dialog {*/
/*    transition: transform 0.3s ease-out;*/
/*    transform: translate(0, -50px);*/
/*}*/

/*@media (prefers-reduced-motion: reduce) {*/
/*    .modal.fade .modal-dialog {*/
/*        transition: none;*/
/*    }*/
/*}*/

/*.modal.show .modal-dialog {*/
/*    transform: none;*/
/*}*/

/*.modal.modal-static .modal-dialog {*/
/*    transform: scale(1.02);*/
/*}*/

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
}

.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #EEEEEE;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}

.modal-header .btn-close {
    padding: 0.5rem 0.5rem;
    margin: -0.5rem -0.5rem -0.5rem auto;
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
}

.modal-body {
    position: relative;
    padding-left: 288px;
}

/*------------------------
    headerbar definition
  -------------------------*/
.main-content {
    display: flex;
    flex-direction: column;
    position: fixed;
    min-height: 100vh;
    width: calc(100% - 250px);
    top: 1px;
    right: 0;
}

.main-content.close {
    width: calc(100% - 88px);
}

.header-main-content {
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.header-main-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header-main-content li {
    float: left;
}

.user-info {
    display: flex;
    margin-left: auto;
    right: 0;
    color: var(--text-gray-color);
}

.notification a{
    font-size: 24px;
    color: var(--text-color);
    padding-left: 5px;
}

.user-info .user-info-txt {
    padding: 6px;
}


.header-main-content .user-info small {
    display: block;
    font-size: 16px;
    padding-left: 5px;
}

.user-pic {
    width: 60px;
    height: 60px;
    border-radius: 4.5rem;
    box-shadow: 6px 6px 15px #cbced1, -6px -6px 15px #ffffff;
}

.notification-icon {
    color: var(--text-alerts-color);
}

.main-content-body {
    padding: 15px;
}

/*------------------------
    sidebar definition
  -------------------------*/
.main-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
    box-shadow: 10px 10px 20px #cbced1,
    -10px -10px 20px #ffffff;

}

.main-sidebar.close {
    width: 88px;
}

.main-sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.main-sidebar header .image,
.main-sidebar .icon {
    min-height: 60px;
    border-radius: 6px;
}

.main-sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}

.main-sidebar .text,
.main-sidebar .icon {
    color: var(--text-color);
    transition: var(--tran-03);
}

.main-sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.main-sidebar.close .text {
    opacity: 0;
}

.main-sidebar header {
    position: relative;
}

.main-sidebar header .image-text {
    display: flex;
    align-items: center;
}

.main-sidebar header .logo-text {
    display: flex;
    flex-direction: column;
}

header .image-text .name-logo {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .desc-logo {
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.main-sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-sidebar header .image img {
    width: 40px;
    border-radius: 6px;
}

.main-sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--buttons-bg-color);
    color: var(--text-color);
    display: flex;
    font-size: 22px;
    cursor: pointer;
    border-radius: 50%;
    transition: var(--tran-05);
}

.main-sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.main-sidebar li .search-box {
    border-radius: 6px;
    background-color: var(--body-bg-color);
    cursor: pointer;
    transition: var(--tran-05);
}

.main-sidebar li .search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    font-size: 17px;
    background-color: var(--body-bg-color);
    border-radius: 6px;
    font-weight: 500;
    transition: var(--tran-05);
}

.main-sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.main-sidebar li a:hover {
    background: var(--buttons-bg-color);
}

.main-sidebar li a:hover .icon,
.main-sidebar li a:hover .text {
    color: var(--text-color);
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.main-sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}


/*------------------------
    footer definition
  -------------------------*/

footer {
    display: flex;
    margin-top: auto;
    padding: 5px;
    background-color: #fff;
}

footer .copyright {
    background-color: #F9F9F9;
    padding: 0.9375rem;
}

footer .copyright p {
    text-align: center;
    margin: 0;
    font-size: 14px;
}

footer .copyright a {
    color: var(--buttons-bg-color);
}

/*------------------------
    change icon size
  -------------------------*/
.lni-sm {
    font-size: 0.8em;
}

.lni-lg {
    font-size: 1.2em;
}

.lni-16 {
    font-size: 16px;
}

.lni-32 {
    font-size: 32px;
}

/*------------------------
    icons and pictures
  -------------------------*/
.ico {
    display: inline-block;
    width: 32px;
    height: 32px;
    position: relative;
    top: 8px;
    left: 4px;
    margin-right: 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ico-user {
    background-image: url('../icons/user-32.png');
    background-repeat: no-repeat;
}

.ico-pass {
    background-image: url('../icons/password-key32.png');
    background-repeat: no-repeat;
}

.font-w100 {
    font-weight: 100;
}

.font-w200 {
    font-weight: 200;
}

.font-w300 {
    font-weight: 300;
}

.font-w400 {
    font-weight: 400;
}

.font-w500 {
    font-weight: 500;
}

.font-w600 {
    font-weight: 600;
}

.font-w700 {
    font-weight: 700;
}

.font-w800 {
    font-weight: 800;
}

.font-w900 {
    font-weight: 900;
}